@font-face {
    font-family: normal_roboto;
    src: url('../Assets/Fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: mid_roboto;
    src: url('../Assets/Fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: bold_roboto;
    src: url('../Assets/Fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: normal_poppins;
    src: url('../Assets/Fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: mid_poppins;
    src: url('../Assets/Fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: extra_mid_poppins;
    src: url('../Assets/Fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: bold_poppins;
    src: url('../Assets/Fonts/Poppins-Bold.ttf');
}

// mixins
@mixin flexin($flex-position) {
    display: flex;
    justify-content: $flex-position;
    align-items: center;
}

body {
    padding: 10px;
    margin: unset;
}

// Font Similarity
$small-font-size:12px;
$mid-font-size:14px;
$extra-mid-font-size:16px;
$large-font-size:22px;

// Primary Application Color
$primary-app-color:#1967D2;

* {
    font-family: normal_roboto;
}