@import "../../Globals/Global.scss";
@import "../../Globals/Themes.scss";

.login_container {
    margin: 10px 10px 10px 10px;
    h4 {
        font-family: mid_poppins;
    }
    hr {
        border: 0.4px solid $primary-border-color;
        margin: unset;
    }

    .login_singnup_opt_container {
         @include flexin(center);
         margin: 20px 0px 30px 0px;
        .login_singnup_opt_subcontainer {
            font-family: mid_poppins;
            font-size: $small-font-size;
            span {
                font-family: extra_mid_poppins;
                color: $primary-app-color;
    
            }
        }

        
    }
    .t_policy_label {
            position:fixed;
            left:0;
            right:0;
            bottom:3px;
            font-size: $mid-font-size;
            color: #707070;
        }
}

.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
    width:100% !important;
}